body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .wrapper {
            background: linear-gradient(#F0707B, #FCFF81 60%);
            font-family: 'M PLUS Rounded 1c', sans-serif;
            position: relative;
            max-width: 800px;
            width: 100%;
            margin: 3rem auto;
            border: .1rem solid #000;
            &:before {
                content:"";
                display: block;
                padding-top: 62.5%;
            }
            .content {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
        .make-title-wrapper {
            max-width: 500px;
            input {
                height: 1.5rem;
            }
            button {
                // height: 1rem;
                height: 1.5rem;
            }
        }
    }
}

.top {
    height: 60%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1#title {
        color: #59539F;
        font-size: 4rem;
        opacity: 0;
        transition: opacity .5s;
        text-align: right;
    }
}
.bottom {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .left, .right {
        display: flex;
    }
    ul {
        list-style: none;
        align-self: center;
        white-space: nowrap;
        li {
            font-weight: 700;
            color: #fff;
            -webkit-text-stroke: 1.0px #000;
            font-size: 1.4rem;
            line-height: 120%;
            .down {
                position: relative;
                top: .8rem;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: .7rem;
        .right ul li, .left ul li {
            font-size: 1.2rem;
        }
    }
}